/* ================ */
/*       ICON       */
/* ================ */

.icon {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}


/* ================ */
/*       BODY       */
/* ================ */

.body {
  display: grid;
  grid-template-columns: var(--sidebar-width) var(--main-width);
  grid-template-rows: var(--header-height) var(--sidebar-height) var(--footer-height);
}


/* ================ */
/*      HEADER      */
/* ================ */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-base);
  height: var(--header-height);
  width: var(--header-width);
  padding: var(--space-s) var(--space-l);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  background-color: var(--color-header);
  color: var(--color-neutral-0);
}

.header .logo {
  font-size: var(--font-size-h5);
  font-family: "Major Mono Display";
}


/* ================ */
/*     SIDEBAR      */
/* ================ */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-l);
  height: var(--sidebar-height);
  width: var(--sidebar-width);
  padding: var(--space-xl) var(--space-s);
  grid-column: 1;
  grid-row: 2;
  background-color: var(--color-sidebar);
  color: var(--color-neutral-0);
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-l);
}

.sidebar .icon {
  font-size: var(--font-size-h5);
  cursor: pointer;
  border-radius: var(--border-radius-rounded);
  padding: var(--space-xs);
}

.sidebar .icon:hover {
  opacity: 0.9;
  color: var(--color-blue);
  background-color: var(--color-neutral-6);
}

.sidebar .icon:active {
  opacity: 1;
}


/* ================ */
/*       MAIN       */
/* ================ */

.main {
  display: flex;
  height: var(--main-height);
  width: var(--main-width);
  padding: var(--space-s) var(--space-base);
  grid-column: 2;
  grid-row: 2;
  background-color: var(--color-body);
  color: var(--color-neutral-8);
}


/* ================ */
/*      FOOTER      */
/* ================ */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  width: var(--footer-width);
  padding: var(--space-s) var(--space-base);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  background-color: var(--color-footer);
  color: var(--color-neutral-0);
}
