/* ================ */
/*      GLOBAL      */
/* ================ */

:root {
  /* COLORS */
  --color-primary: ;
  --color-secondary: ;
  --color-tertiary: ;

  --color-neutral-0: #f8f9fa;
  --color-neutral-1: #e9ecef;
  --color-neutral-2: #dee2e6;
  --color-neutral-3: #ced4da;
  --color-neutral-4: #adb5bd;
  --color-neutral-5: #6c757d;
  --color-neutral-6: #495057;
  --color-neutral-7: #343a40;
  --color-neutral-8: #212529;

  --color-blue: ;
  --color-orange: #ffb758;

  --color-header: var(--color-neutral-7);
  --color-body: var(--color-neutral-3);
  --color-sidebar: var(--color-neutral-5);
  --color-footer: var(--color-neutral-7);

  /* SIZE */
  --border-size-s: 1px;
  --border-size-m: 2px;
  --border-size-l: 3px;

  --border-radius-soft-1: 9px;
  --border-radius-soft-2: 15px;
  --border-radius-rounded: 100px;

  --space-xs: 6px;
  --space-s: 9px;
  --space-base: 15px;
  --space-m: 21px;
  --space-l: 27px;
  --space-xl: 33px;

  --font-size-s: 12px;
  --font-size-base: 14px;
  --font-size-m: 18px;
  --font-size-h6: 21px;
  --font-size-h5: 27px;
  --font-size-h4: 33px;
  --font-size-h3: 39px;
  --font-size-h2: 42px;
  --font-size-h1: 45px;

  --header-height: 72px;
  --header-width: 100vw;
  
  --footer-height: 27px;
  --footer-width: 100vw;

  --sidebar-height: calc(100vh - var(--header-height) - var(--footer-height));
  --sidebar-width: 72px;

  --main-height: var(--sidebar-height);
  --main-width: calc(100vw - var(--sidebar-width));

  --settings-width: 315px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}


/* ================ */
/*      FONTS       */
/* ================ */

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(../public/assets/fonts/material_symbols_outlined.woff2);
}

@font-face {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  src: url(../public/assets/fonts/major_mono_display.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  src: url(../public/assets/fonts/montserrat.ttf);
}


/* ================ */
/*    GENERIC DIV   */
/* ================ */

div[is-open="true"] { visibility: visible; }
div[is-open="false"] { visibility: hidden; }

/* ================ */
/*    GENERIC BTN   */
/* ================ */

button {
  cursor: pointer;
  border-radius: var(--border-radius-soft-1);
  border-width: var(--border-size-m);
  border-style: solid;
  border-color: var(--color-neutral-2);
  background-color: var(--color-neutral-1);
}

/* ================ */
/*   GENERIC TEXT   */
/* ================ */

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }

/* ================ */
/*  GENERIC  INPUT  */
/* ================ */

input {
  border-radius: var(--border-radius-rounded);
  border: 0 solid transparent;
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

input[type="color"] {
  padding: 0;
  width: 21px;
  height: 25px;
  background-color: transparent;
  border: 0 solid transparent;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 3px;
  border: 0 solid transparent;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 3px;
  border: 0 solid transparent;
}

/* ================ */
/*  DEFAULT SCROLL  */
/* ================ */

::-webkit-scrollbar { width: var(--space-base); }
::-webkit-scrollbar-track { background-color: var(--color-neutral-5); }
::-webkit-scrollbar-thumb {
  border: var(--border-size-l) solid var(--color-neutral-5);
  border-radius: var(--border-radius-rounded);
  background-color: var(--color-neutral-1);
}